body {
    font-family: 'Alkatra', cursive;
    color: white;
    background-image: url("../img/back.jpg");
    background-size: contain;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.description {
    background-color: rgba(128, 128, 128, 0.438);
}

h1 {
    font-size: 800%;
    margin-top: 3%;
    text-align: center;
}

.imglu {
    display: block;
    height: 30%;
    width: 30%;

}

.luffy {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    text-decoration: none;
}

.oui {
    margin-top: 75%;
}

.taw {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.teext {
    margin: 10%;
    text-align: center;
    font-size: 150%;
}
.carousel{
    margin: 10%;
    border: 7px solid;
    border-color: #00FFFF;

}