body{
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
    background-image: url("../img/back.jpg");
    background-size: contain;
}
.carousel{
    margin: 10%;
    border: 7px solid;
    border-color: #00FFFF;
    

}
.sunny{
    height: 99vh;
    width: 99vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/sunny.jpg");
}

.centrer{
    display: flex;
    justify-content: center;
}

.sticky{     
    position: sticky;     
    top: 0;     
    width: 100%;     
    z-index: 1; 
}
.card{
    padding-top:1%;
    padding-bottom: 1%;
}
.video{
    margin: 10%;
    text-align: center;
}

#wanteded{
    scroll-margin-top: 100px;
}

